*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.stripe{
    height: 40px;
    width: 1px;
    background-color: #999;
}

.lang{
    text-align: center;
}

.ru{
    color: #fff;
    padding: 2px 5px;
    background-color: rgb(62, 214, 138);
    border-radius: 2px;
}

.header-1{
    margin: 0 auto;
    width: 1400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numbers{
    display: flex;
    align-items: center;
}

.bold {
    font-weight: 600;
}

.header-text{
    margin: 5px;
}

.fab{
    font-size: 20px;
    color: #555;
}

.fas{
    font-size: 36px;
    margin: 0 20px;
}

.search-container{
    align-items: center;
    height: 50px;
    width: 290px;
    display: flex;
}

.space{
    background-color:  rgb(236, 236, 236);
    height: 50px;
    width: 240px;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 5px 0 0 5px;
    transition: 0.1s linear;
}

.red:hover{
    border: 2px solid red;
}

.green:hover{
    border: 2px solid rgb(62, 214, 138);
}

.button-1{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 5px;
}

.maistra{
    background-color: red;
}

.search{
    background-color: rgb(62, 214, 138);
}

.search-icon{
    color: #fff;
    font-size: 20px;
}

.fa-search{
    font-size: 20px;
}

.row{
    width: 100%;
    height: 1px;
    background-color: #999;
}

.header-2{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.header-menu{
    padding: 20px 30px;
    align-items: center;
}

.header-menu>p{
    color: #555;
}

.header-menu>.stripe{
    width: 100%;
    margin: 5px 0;
    height: 2px;
    background-color: #fff;
    transition: .1s linear;
}

.header-menu:hover>p{
    color: #000;
}

.header-menu:hover>.stripe{
   background-color: #555;
}

.top-container{
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(./maxresdefault\ \(1\)\ 2.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 195px;
}

.top-container-menu{
    width: 35%;
}

.top-container-menu>h1{
    margin: 10px 0;
    text-transform: uppercase;
    color: #fff;
}

.top-container-menu-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 250px;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
}

.top-container-menu-1>h2{
    font-family: 'Open Sans', sans-serif;
}

.top-container-menu-2{
    margin: 40px 0;
    width: 270px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(153, 153, 153, 0.39);
    border-radius: 2px;
}

.top-container-menu-2>p{
    font-weight: bold;
    color: #fff;
}

.top-container-menu-circles{
    padding: 10px 0;
    display: flex;
    justify-content: left;
    margin: 30px 0;
}

.top-container-menu-circles>i{
    font-size: 7px;
    color: #fff;
    margin: 0 5px;
}

.undertop-container{
    height: 250px;
    background: rgb(224, 224, 224);
    display: flex;
    justify-content: start;
}

.undertop-column-1{
    width: 30%;
}

.undertop-column-1>h1{
    font-weight: bold;
}

.undertop-column-1>p{
    color: #555;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.column-1-buttons{
    display: flex;
}

.column-1-button{
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid rgb(165, 165, 165);
    padding: 0 50px;
    border-radius: 3px;
}

.grey{
    color: #fff;
    background-color: rgb(165, 165, 165);
}

.undertop-2-menu{
    display: flex;
    align-items: center;
}

.undertop-2-circle{
    width: 45px;
    height: 45px;
    border: 2px solid #999;
    border-radius: 50%;
    border-style: dashed;
}