*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.stripe{
    height: 40px;
    width: 1px;
    background-color: #999;
}

.lang{
    text-align: center;
}

.ru{
    color: #fff;
    padding: 2px 5px;
    background-color: rgb(62, 214, 138);
    border-radius: 2px;
}

.header-1{
    margin: 0 auto;
    width: 1400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numbers{
    display: flex;
    align-items: center;
}

.bold {
    font-weight: 600;
}

.header-text{
    margin: 5px;
}

.fab{
    font-size: 20px;
    color: #555;
}

.fas{
    font-size: 36px;
    margin: 0 20px;
}

.search-container{
    align-items: center;
    height: 50px;
    width: 290px;
    display: flex;
}

.space{
    background-color:  rgb(236, 236, 236);
    height: 50px;
    width: 240px;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 5px 0 0 5px;
    transition: 0.1s linear;
}

.red:hover{
    border: 2px solid red;
}

.green:hover{
    border: 2px solid rgb(62, 214, 138);
}

.button-1{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 5px;
}

.maistra{
    background-color: red;
}

.search{
    background-color: rgb(62, 214, 138);
}

.search-icon{
    color: #fff;
    font-size: 20px;
}

.fa-search{
    font-size: 20px;
}

.row{
    width: 100%;
    height: 1px;
    background-color: #999;
}

.header-2{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.header-menu{
    padding: 20px 30px;
    align-items: center;
}

.header-menu>p{
    color: #555;
}

.header-menu>.stripe{
    width: 100%;
    margin: 5px 0;
    height: 1px;
    background-color: #fff;
    transition: .1s linear;
}

.header-menu:hover>p{
    color: #000;
}

.header-menu:hover>.stripe{
   background-color: #555;
}

.top-container{
    width: 100vh;
    height: 500px;
    background: url(./maxresdefault\ \(1\)\ 2.png) no-repeat center;
}

.top-container-menu>h1{
    text-transform: uppercase;
    color: #fff;
}

.top-container-menu>h3{
    border: 1px solid white;
    color: #fff;
}