* {
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(90deg, #f598a8, #f6edb2);
}

.form {
    width: 60vh;
    height: 50vh;
    padding: 40px;
    border: 8px solid #fff;
    border-radius: 30px;
    margin: 15vh auto;
    color: #fff;
}

h1 {
    text-align: center;
}

button {
    color: #fff;
    margin-top: 10px;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border: 3px solid #fff;
    background-color: rgba(255, 255, 255, 0);
}