* {
    font-family: 'Noto Sans Mono', monospace;
}
.head {
    display: flex;
}
body {
    background-color: rgb(94, 177, 245);
}
h1{
   display: block;
   margin: 20px auto;
}
.block1 {
    background-color: rgb(66, 119, 163);
    height: 200px;
    width: 1000px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.5s ease-out;
    color: rgba(0, 0, 0, 0.7);
}
i {
    margin: 5px;
}
.block1:hover {
    width: 90%;
}
li {
    transition: 0.3s linear;
    font-family: 'Noto Sans Mono', monospace;
}
li:hover {
    font-size: 30px;
    color: black;
}
.block2 {
    margin: auto;
    margin-top: 20px;
    background-color: rgb(66, 119, 163);
    height: 100px;
    width: 1000px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.block {
    height: 100px;
    width: 100px;
    background-color: black;
    transition: .5s linear;
    animation: anim 2s infinite alternate-reverse;
}
.block3 {
    height: 200px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background: no-repeat url(img/space.jpg);
    border-radius: 20px;
}
.block4 {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.block5-local {
    height: 200px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
}
.block5-local *{
    margin: 0 10px;
}
.block5-image {
    position: relative;
    width: 50%;
}
.block5-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim{
    0%{
        transform: skewX(30deg);
    }
    100%{
        transform: skewX(-30deg);
    }
}

